.NotFound {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  .icon-404 {
    width: 200px;
    object-fit: contain;
  }

  .back-home-base {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    .back-home-text {
      font-size: 20px;
      text-decoration: underline;
      text-decoration-style: inherit;
    }
  }
}
